<div class="mb-4">
    <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text></p-button>
    <p-button type="button" icon="pi pi-refresh" (click)="reset()" text></p-button>
    <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text></p-button>
</div>

<p-table 
    [value]="cotizaciones" 
    [paginator]="true" 
    [rows]="5" 
    [first]="first"
    [showCurrentPageReport]="true" 
    [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
    [style]="{ 'min-width': '50rem' }">

    <!-- Encabezado de la tabla -->
    <ng-template pTemplate="header">
        <tr>
            <th style="width:25%">Código Cotización</th>
            <th style="width:25%">Nombre Cliente</th>
            <th style="width:25%">Monto Subtotal</th>
            <th style="width:25%">Monto Total</th>
        </tr>
    </ng-template>

    <!-- Cuerpo de la tabla -->
    <ng-template pTemplate="body" let-cotizacion>
        <tr>
            <td>{{ cotizacion.icod_cotizacion }}</td>
            <td>{{ cotizacion.nombre_cliente }}</td>
            <td>{{ cotizacion.monto_sub_total | currency }}</td>
            <td>{{ cotizacion.monto_total | currency }}</td>
        </tr>
    </ng-template>

    <!-- Botones del paginador -->
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" text></p-button>
    </ng-template>

    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" text></p-button>
    </ng-template>

</p-table>
